<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Source>
    <SourceFolder>Source</SourceFolder>
    <ImportFile>AllSets.json</ImportFile>
    <SourceFile>MtGSource.xml</SourceFile>
    <ImportDefinitions>
      <ValidKeys>
        <Key>manaCost</Key>
        <Key>colors</Key>
        <Key>name</Key>
        <Key>names</Key>
        <Key>power</Key>
        <Key>layout</Key>
        <Key>toughness</Key>
        <Key>loyalty</Key>
        <Key>text</Key>
        <Key>types</Key>
        <Key>colorIdentity</Key>
      </ValidKeys>
      <IdentifyingKeys>
        <Key>set</Key>
        <Key>multiverseid</Key>
      </IdentifyingKeys>
      <PairedKeys>
        <Pair>
          <Key>set</Key>
          <Key>multiverseid</Key>
        </Pair>
      </PairedKeys>
      <CodeKeys>
        <Pair>
          <Key>set</Key>
          <Key>1</Key>
        </Pair>
        <Pair>
          <Key>multiverseid</Key>
          <Key>2</Key>
        </Pair>
        <Pair>
          <Key>manaCost</Key>
          <Key>3</Key>
        </Pair>
        <Pair>
          <Key>colors</Key>
          <Key>4</Key>
        </Pair>
        <Pair>
           <Key>layout</Key>
           <Key>5</Key>
        </Pair>
        <Pair>
          <Key>name</Key>
          <Key>6</Key>
        </Pair>
         <Pair>
            <Key>names</Key>
            <Key>7</Key>
         </Pair>
        <Pair>
          <Key>toughness</Key>
          <Key>8</Key>
        </Pair>
        <Pair>
          <Key>loyalty</Key>
          <Key>9</Key>
        </Pair>
        <Pair>
          <Key>text</Key>
          <Key>10</Key>
        </Pair>
        <Pair>
          <Key>cmc</Key>
          <Key>11</Key>
        </Pair>
        <Pair>
          <Key>colorIdentity</Key>
          <Key>12</Key>
        </Pair>
        <Pair>
          <Key>types</Key>
          <Key>13</Key>
        </Pair>
      </CodeKeys>
    </ImportDefinitions>
  </Source>
  <Collection>
    <CollectionFolder>Collections</CollectionFolder>
    <HistoryFolder>Data</HistoryFolder>
    <MetaFolder>Data</MetaFolder>
    <OverheadFolder>Data</OverheadFolder>
    <CollectionDefinitions>
      <CollectionMetaKeys>
        <Key>Generalization</Key>
      </CollectionMetaKeys>
    </CollectionDefinitions>
    <Startup>
    </Startup>
  </Collection>
  <Images>
    <ImagesFolder>Images</ImagesFolder>
  </Images>
</Config>